:root {
    --main_color:#c7edf4;
    --rouge:#fa0707;
    --noir:#000;
    --bleu :#0713f9;
}

* {
    background-color: var(--main_color);
}


.navbar {
    display:inline;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
}

.logo {
    width: 150px;
    
}
.menu {
    display: flex;
    gap: 20px;

}
.menu a {
    text-decoration: none;
    text-align: center;
    font-size: 1.5rem;
    color:var(--bleu);
    transition: all 0.5s ease;
   
}
.menu a:hover {
    color: var(--rouge);
}

h1,h2,h3 {
    color: var(--bleu);
}

.section {
    font-size: 1.2rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}